extends layout

block pageTitle
  title= "Admin Page"

block content
  .content-wrapper.page-home
    .header.flex-container
      .logo
        | Back Office
      .right
        .name Roger Jiang
        button.logout-btn.btn.btn-light(type="button") Logout

    .tab-wrapper
      ul#myTab.nav.nav-tabs(role="tablist")
        li.nav-item
          a#user-tab.nav-link.active(data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="true") Users
        //- li.nav-item
        //-   a#file-tab.nav-link(data-toggle="tab" href="#file" role="tab" aria-controls="file" aria-selected="false") Files
      #myTabContent.tab-content
        button#create-user-btn.btn.btn-primary(type="button" data-toggle="modal" data-target="#editAndCreateModal" data-action="create" ) Create User
        #user.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="user-tab")
          table.table
            thead
              tr
                th(scope="col") #
                th(scope="col") Name
                th(scope="col") Password
                th(scope="col") E-mail
                th(scope="col") Create Date
                th(scope="col") Update Date
                th(scope="col") Actions
            tbody
              tr
                th(scope="row") 1
                td Mark
                td @@@@@
                td dkra4741@gmail.com
                td 2018-10-3
                td 2018-12-21 09:20
                td
                  button.btn.btn-primary(type="button" data-toggle="modal" data-target="#editAndCreateModal"
                    data-username="Mark"
                    data-password="@@@@@"
                    data-email="dkra4741@gmail.com")
                    | Edit
                  button.btn.btn-danger(type="button") Delete
              tr
                th(scope="row") 2
                td eqwerf
                td @@@@@
                td dkra4741@gmail.com
                td 2018-10-3
                td 2018-12-21 09:20
                td
                  button.btn.btn-primary(type="button" data-toggle="modal" data-target="#editAndCreateModal"
                    data-username="Loius"
                    data-password="@@a@@"
                    data-email="test@gmail.com")
                    | Edit
                  button.btn.btn-danger(type="button") Delete
                
              tr
                th(scope="row") 3
                td Larry
                td @@@@@
                td dkra4741@gmail.com
                td 2020-10-3
                td 2018-12-21 09:20
                td
                  button.btn.btn-primary(type="button" data-toggle="modal" data-target="#editAndCreateModal"
                    data-username="Larry"
                    data-password="!!!aa"
                    data-email="larry@gmail.com")
                    | Edit
                  button.btn.btn-danger(type="button") Delete
        #file.tab-pane.fade(role="tabpanel" aria-labelledby="file-tab") C
   
    //Modal
    #editAndCreateModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="editAndCreateModalLabel" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5#editAndCreateModalLabel.modal-title Edit User:
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") ×
          .modal-body
            form
              .form-group
                label.col-form-label(for="username") Username:
                input#username.form-control(type="text")
              .form-group
                label.col-form-label(for="email") E-Mail:
                input#email.form-control(type="text")
              .form-group
                label.col-form-label(for="password") Password:
                input#password.form-control(type="text")
              
          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Close
            button.btn.btn-primary(type="button") Save

block scripts
  script(src="/javascripts/index.js")